/FootballManagerSimulator/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/FootballManagerSimulator/obj/Debug/net6.0/apphost.exe
/FootballManagerSimulator/obj/Debug/net6.0/FootballManagerSimulator.AssemblyInfo.cs
/FootballManagerSimulator/obj/Debug/net6.0/FootballManagerSimulator.AssemblyInfoInputs.cache
/FootballManagerSimulator/obj/Debug/net6.0/FootballManagerSimulator.assets.cache
/FootballManagerSimulator/obj/Debug/net6.0/FootballManagerSimulator.csproj.AssemblyReference.cache
/FootballManagerSimulator/obj/Debug/net6.0/FootballManagerSimulator.csproj.BuildWithSkipAnalyzers
/FootballManagerSimulator/obj/Debug/net6.0/FootballManagerSimulator.csproj.CopyComplete
/FootballManagerSimulator/obj/Debug/net6.0/FootballManagerSimulator.csproj.CoreCompileInputs.cache
/FootballManagerSimulator/obj/Debug/net6.0/FootballManagerSimulator.csproj.FileListAbsolute.txt
/FootballManagerSimulator/obj/Debug/net6.0/FootballManagerSimulator.dll
/FootballManagerSimulator/obj/Debug/net6.0/FootballManagerSimulator.GeneratedMSBuildEditorConfig.editorconfig
/FootballManagerSimulator/obj/Debug/net6.0/FootballManagerSimulator.genruntimeconfig.cache
/FootballManagerSimulator/obj/Debug/net6.0/FootballManagerSimulator.GlobalUsings.g.cs
/FootballManagerSimulator/obj/Debug/net6.0/FootballManagerSimulator.pdb
/FootballManagerSimulator/obj/Debug/net6.0/ref/FootballManagerSimulator.dll
/FootballManagerSimulator/obj/Debug/net6.0/refint/FootballManagerSimulator.dll
/FootballManagerSimulator/obj/FootballManagerSimulator.csproj.nuget.dgspec.json
/FootballManagerSimulator/obj/FootballManagerSimulator.csproj.nuget.g.props
/FootballManagerSimulator/obj/FootballManagerSimulator.csproj.nuget.g.targets
/FootballManagerSimulator/obj/project.assets.json
/FootballManagerSimulator/obj/project.nuget.cache
/FootballManagerSimulator/bin/
/.vs/
